HomePage =
  init: ->
    $("#menu").addClass('hidden')
    $('#page_container').prepend($("<div id='splash'> <img src='/assets/splash.jpg' /> </div>"));
    setInterval ->
      $("#splash").fadeOut('slow');
      $("#menu").removeClass('hidden')
    , 2000

$ ->
  if window.location.pathname == "/"
    HomePage.init()