body {
  background: url('background.jpg');
  background-repeat: x;
  background-position: center;
  font-family: Futura-medium, "Trebuchet MS", Arial, sans-serif;
  p {
    font-family: Futura-medium, "Trebuchet MS", Arial, sans-serif;
  }
  a {
    font-family: Futura-medium, "Trebuchet MS", Arial, sans-serif;
    text-decoration: none;
  }
}

#splash {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 110%;
  background: #0e304b;
  display: block;
  text-align: center;
  img {
    margin-top: 150px;
  }
}

div#page_container {
  width: 1045px;
  margin: 0 auto;
  position: relative;
}

header#header {
  height: 145px;
  overflow: hidden;
  margin-bottom: 25px;

  h1#logo {
    margin-top: 0px;
    text-indent: -9999px;
    height: 157px;
    width: 213px;
    background: url('logo.png') no-repeat;
    background-position: 0 -158px;
    background-position: 0 10;
    float: right;
  }

  nav#menu {
    margin-top: 100px;
    width: 800px;
    float: left;
    // background: url('nav_background.jpg') no-repeat;

    ul {
      margin: 0; padding: 0;
      list-style: none;
      height: 36px;

      li {
        margin-top: 12px;
        float: left;
        text-align: center;
        width: 100px;
        margin-right: 15px;
        height: 33px;

        a {
          color: #ae8d55;
          font-size: 18px;
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          font-family: Futura-medium, "Trebuchet MS", Arial, sans-serif;

          -webkit-transition: font-size ease-in-out .2s;
          -o-transition: font-size ease-in-out .2s;
          -moz-transition: font-size ease-in-out .2s;
          transition: font-size ease-in-out .2s;

          &:hover {
            font-size: 20px;
          }

        }

        &.selected.about_link { background: url('about_link.png') 6px -5px no-repeat; }
        &.selected.processes_link { background: url('process_link.png') 3px -5px no-repeat; }
        &.selected.galleries_link { background: url('gallery_link.png') 13px -9px no-repeat; }
        &.selected.awards_link { background: url('awards_link.png') 9px 1px no-repeat; }
        &.selected.inventories_link { background: url('inventory_link.png') 3px 1px no-repeat; }
        &.selected.contact_link { background: url('contact_link.png') 3px 1px no-repeat; }

       //&.selected.about_link { background: url(about_link.png) no-repeat; }
       //&.selected.processes_link { background: url(process_link.png) no-repeat; }
       //&.selected.gallery_link { background: url(gallery_link.png) no-repeat; }
       //&.selected.awards_link { background: url(awards_link.png) no-repeat; }
       //&.selected.inventory_link { background: url(inventory_link.png) no-repeat; }
       //&.selected.contact_link { background: url(contact_link.png) no-repeat; }
      }
    }
  }

}

section#page {
  min-height: 590px;
}

section#page.about {
  background: url('about.jpg') no-repeat;

  > div {
    float: left;
    margin-left: 645px;
    margin-top: 140px;
    width: 300px;
    height: 307px;
    color: white;
    font-size: 13px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;

    p {
      margin: 0px 0; padding: 0px;
      line-height: 16px;
    }
  }
}

section#page.processes {
  background: url('process.jpg') no-repeat;
  position: relative;

  #processes {
    width: 700px;
    float: left;

    .process_image {
      float: left;
      margin-top: 75px;
      margin-left: 105px;
      width: 520px;
      text-align: center;
    }

    .content {
      margin-left: 105px;
      width: 500px;
      padding: 10px 15px;
      color: white;
      font-size: 13px;
      font-family: Futura, "Trebuchet MS", Arial, sans-serif;

      .title {
        h2 {
          padding: 0;
          margin: 0;
        }
        text-align: center;
        color: #b39056;
        text-transform: uppercase;
      }

      .description {
        height: 100px;
        overflow-y: scroll;
      }
    }

  }

  #actions {
    float: left;
    margin-left: 30px;
    margin-top: 340px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 9px;

    p {
      position: relative;
    }

    a {
      color: #b39056;
      text-transform: uppercase;
      text-decoration: none;
    }

  }

  #prev_next {
    position: absolute;
    bottom: 88px;
    left: 289px;

    a {
      color: #b39056;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;

      &#left {
        margin-right: 75px;
      }
    }
  }

}


section#page.galleries {
  background: url('gallery.jpg') no-repeat;

  div#slideshow {
    padding-top: 20px;
    width: 600px;
    margin-left: 15px;
    text-align: center;
    float: left;

    ul {
      list-style: none;
    }
  }

  ul#galleries {
    list-style: none;
    width: 170px;
    float: left;
    margin-left: 145px;
    margin-top: 45px;

    li {
      position: relative;
      margin-bottom: 5px;

      a {
        color: white;
      }

      .arrow {
        top: 7px;
      }
    }
  }
}


section#page.awards {
  background: url('awards.jpg') no-repeat;

  div.awards {
    padding-left: 145px;
    padding-top: 145px;
    width: 300px;
    color: white;
    font-size: 13px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
}

section#page.inventories {
  background: url('inventory.jpg') no-repeat;
  position: relative;
  padding-top: 20px;

  a.back_to_inventories {
    position: absolute;
    bottom: 47px;
    left: 602px;
    font-size: 13px;
    color: #ccc6c6;
  }
  a.prev {
    background: url('left.png') no-repeat;
    text-indent: -9999px;
    width: 11px;
    height: 12px;
    position: absolute;
    bottom: 50px;
    left: 535px;
    font-size: 13px;
    color: #ccc6c6;
  }
  a.next {
    background: url('right.png') no-repeat;
    text-indent: -9999px;
    width: 11px;
    height: 12px;
    position: absolute;
    bottom: 50px;
    left: 825px;
    font-size: 13px;
    color: #ccc6c6;
  }

  #inventories {
    margin-left: 375px;
    //padding-top: 35px;
    max-height: 485px;
    min-height: 400px;
    overflow-y: scroll;
    width: 660px;

    p.more_info {
      position: absolute;
      bottom: 34px;
      left: 550px;
      font-size: 13px;
      color: #ccc6c6;
    }

    .inventory {
      background: url('inventory_background.png') no-repeat;
      height: 126px;
      width: 300px;
      float: left;
      margin-right: 20px;
      margin-bottom: 35px;

      .image {
        margin-left: 33px;
        padding-top: 7px;
        width: 120px;
        float: left;
      }
      a.title {
        padding-top: 10px;
        color: white;
        float: left;
        text-align: right;
        width: 115px;
        font-size: 12px;
      }
      p.details {
        width: 117px;
        float: left;
        font-size: 12px;
        margin-top: 50px;
        color: white;
      }
    }
  }


  #inventory_details {
    background: url('inventory_details.png') no-repeat;
    height: 498;
    width: 596;
    margin-left: 385px;

    h4 {
      margin-left: 235px;
      padding-top: 7px;
      font-size: 13px;
      color: white;
      margin-bottom: 6px;
    }

    #inventory_gallery {
      background: url('inventory_gallery_bg.png') no-repeat;
      margin-left: 18px;
      padding: 13px;
      width: 561px;
      height: 251px;

      ul {
        list-style: none;
        margin: 0; padding: 0;

        &.main {
          width: 350px;
          margin-right: 15px;
          float: left;
        }

        &.thumb {
          width: 185px;
          max-height: 250px;
          float: left;
          overflow: hidden;

          li {
            float: left;
            width: 70px;
            margin-right: 20px;
          }
        }
      }
    }

    header {
      margin-top: 6px;
      width: 561px;

      .left_details {
        width: 200px;
        float: left;
        padding: 0; margin: 0;
        padding-left: 16px;

        p {
          padding: 0; margin: 0;
          color: white;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .right_details {
        width: 200px;
        float: right;
        text-align: right;

        p {
          padding: 0; margin: 0;
          color: white;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .description {
      margin-top: 6px;
      width: 561px;
      padding: 0; margin: 0;
      padding-left: 16px;
      color: white;
      font-size: 12px;
      line-height: 18px;
    }
  }

}

section#page.contact {
  background: url('contact.jpg') no-repeat;
  color: white;

  .inquiries {
    float: left;
    margin-left: 640px;
    margin-top: 145px;

    h3 {
      margin: 0px;
      padding: 0px;
      font-size: 18px;
      margin-bottom: 12px;
    }

    p {
      margin: 0px;
      padding-bottom: 7px;
      font-size: 12px;
      &:last-child {
        margin-bottom: 7px;
      }
    }

    .info {
      border-bottom: 3px dashed white;
      width: 300px;
    }

    .left {
      float: left;
      text-align: right;
      width: 115px;
      margin-right: 15px;
    }

    .right {
      float: left;
      width: 200px;
    }

    .actions {
      margin-left: 70%;
      margin-top: 15px;
    }

    form {
      padding-top: 10px;

      label {
        font-size: 12px;
        text-align: right;
      }

      input {
        background: #040d14;
        border: 1px solid #0b253a;

        &#inquiry_name {
          width: 160px;
        }

        &#inquiry_email {
          width: 160px;
        }

        &#inquiry_phone {
          width: 160px;
        }

        &#inquiry_evening_phone {
          width: 160px;
        }

        &#inquery_phone_two {
          width: 200px;
        }
      }

      input.save {
        padding: 0; margin: 0;
        color: white;
        font-size: 18px;
        border: none;
        background: transparent;
      }
    }
  }
}

p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

footer {
  margin-bottom: 50px;
  color: #ae8d55;
  font-size: 16px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

  div#music_player {
    float: left;
    width: 200px;
    text-transform: uppercase;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

    .on {
      background: url('on.png') no-repeat;
      height: 12px;
      width: 11px;
      text-indent: -9999px;
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: 1px;
    }

    .off {
      background: url('off.png') no-repeat;
      height: 12px;
      width: 11px;
      text-indent: -9999px;
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: 1px;
    }
  }

  div#info {
    float: right;
    width: 315px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  }
}

/* helpers */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
.hidden {
  display: none;
}
.arrow {
  background: url(arrow.png) no-repeat;
  width: 7px;
  height: 9px;
  float: left;
  margin-right: 5px;
  position: absolute;
  left: -13px;
  top: 0px;
}
